## Table Of Contents


- [Store CSV into DataFrame](#Store-CSV-into-DataFrame)
- [Data Exploration](#Data-Exploration)
- [Data Clean-Up Process](#New-Data-With-Selected-Columns)
- [Database Process](#Database-Process)
- [Queries](#Queries)


  ### [Project Report](https://docs.google.com/document/d/1qSFce4Ubi3k_l5FdNinCG_Jhylltwt4KJD3ewPj3d9c/edit?usp=sharing)

### Libraries

In [3]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from config import password

### Store CSV into DataFrame

In [4]:
# Cambridge Listing --> CSV file
cambridge_path_listings = "../ETLProject/Resources/Cambridge_Listings1.csv"
cambridge_listings = pd.read_csv(cambridge_path_listings)
cambridge_listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,8521,https://www.airbnb.com/rooms/8521,20191126082128,2019-11-26,SunsplashedSerenity near Harvard $1300/wk flex...,"An elegant, sun-splashed, 2 bedroom (+2offices...","An elegant, sun-splashed, 2+ bedroom apartment...","An elegant, sun-splashed, 2 bedroom (+2offices...",none,Huron Village is known for its charm. We have...,...,f,f,strict_14_with_grace_period,f,f,3,3,0,0,0.26
1,11169,https://www.airbnb.com/rooms/11169,20191126082128,2019-11-26,Lovely Studio Room: Thu-Mons Near Universities!,Large sunny room which comfortably fits a coup...,"We have a peaceful, large, sunny room w/ attac...",Large sunny room which comfortably fits a coup...,none,The neighborhood is quiet and friendly and our...,...,f,f,strict_14_with_grace_period,t,t,4,1,3,0,1.22
2,11945,https://www.airbnb.com/rooms/11945,20191126082128,2019-11-26,Near Harvard: Safe & Lovely Room,Room next to kitchen and living room in wonder...,"Quiet peaceful room w/shared marble bath, wifi...",Room next to kitchen and living room in wonder...,none,Amazing neighborhood: Quiet yet close walk to ...,...,f,f,strict_14_with_grace_period,t,t,4,1,3,0,0.27
3,19581,https://www.airbnb.com/rooms/19581,20191126082128,2019-11-26,"Furnished suite, Windsor","Welcome to Area IV! We are located, convenient...","Furnished suite at the Windsor Inn, Cambridge....","Welcome to Area IV! We are located, convenient...",none,NaN,...,f,f,strict_14_with_grace_period,f,f,3,0,3,0,0.05
4,22006,https://www.airbnb.com/rooms/22006,20191126082128,2019-11-26,B & B near Harvard's Quad Houses,"Two comfortable guest rooms in quiet, tree-fil...","Comfortable, convenient B&B at the north end o...","Two comfortable guest rooms in quiet, tree-fil...",none,"We're in a beautiful neighborhood, with nearby...",...,f,f,moderate,f,f,1,0,1,0,0.89

In [5]:
# Cambridge Reviews -> CSV file
cambridge_path_reviews = "../ETLProject/Resources/Cambridge_Reviews.csv"
cambridge_reviews = pd.read_csv(cambridge_path_reviews)
cambridge_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,8521,6009,2009-07-23,25629,Mara,This is a fabulous apartment! Great neighborh...
1,8521,6386,2009-07-30,26357,Stephanie,"Wonderful host and hostess, great home, locati..."
2,8521,6910163,2013-08-30,5747319,Lynette,We had a delightful 2 week stay in Cambridge. ...
3,8521,37307811,2015-07-06,27670573,Salina,We had a great time during our short stay in C...
4,8521,38475589,2015-07-16,10811805,Benoni,Janet's place is as beautiful as portrayed. Ni...

### Data Exploration

In [6]:
# Data Types - Listings
cambridge_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1277 entries, 0 to 1276
Columns: 106 entries, id to reviews_per_month
dtypes: float64(22), int64(22), object(62)
memory usage: 1.0+ MB

In [7]:
# Looking for Missing Values --> Listings
cambridge_listings.isnull().sum()

id                                                0
listing_url                                       0
scrape_id                                         0
last_scraped                                      0
name                                              0
                                               ...
calculated_host_listings_count                    0
calculated_host_listings_count_entire_homes       0
calculated_host_listings_count_private_rooms      0
calculated_host_listings_count_shared_rooms       0
reviews_per_month                               178
Length: 106, dtype: int64

In [8]:
# Data Types - Reviews
cambridge_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64199 entries, 0 to 64198
Data columns (total 6 columns):
listing_id       64199 non-null int64
id               64199 non-null int64
date             64199 non-null object
reviewer_id      64199 non-null int64
reviewer_name    64197 non-null object
comments         64169 non-null object
dtypes: int64(3), object(3)
memory usage: 2.9+ MB

In [9]:
# Looking for Missing Values --> Reviews
cambridge_reviews.isnull().sum()

listing_id        0
id                0
date              0
reviewer_id       0
reviewer_name     2
comments         30
dtype: int64

### Data Clean-Up Process

In [10]:
# Data Frame 
listings_locations_df = cambridge_listings[['id', 'city', 'state','zipcode','latitude','longitude']].copy()
listing_details_df = cambridge_listings[['id', 'name', 'summary', 'property_type','bathrooms','bedrooms', 'beds']].copy()
Url_df = cambridge_listings[['id', 'listing_url', 'picture_url']].copy()
hosts_df = cambridge_listings[['id', 'host_id', 'host_url','host_name','host_since','host_location','host_response_rate']].copy()
cambridge_reviews_df = cambridge_reviews[['listing_id','id','date','reviewer_id','reviewer_name','comments']]

In [11]:
#Strips \"%\" from host_response_rate and converts to a float value (\"100%\" to \"1.0\")\n",
hosts_df['host_response_rate'] = hosts_df['host_response_rate'].str.rstrip('%').astype('float') / 100.0

In [12]:
# Preview Listing Locations
listings_locations_df.head()

      id       city state zipcode  latitude  longitude
0   8521  Cambridge    MA   02138  42.38329  -71.13617
1  11169  Cambridge    MA   02140  42.39469  -71.13223
2  11945  Cambridge    MA   02140  42.39454  -71.13431
3  19581  Cambridge    MA   02139  42.36276  -71.09765
4  22006  Cambridge    MA   02140  42.38670  -71.12387

In [13]:
# Preview Listing Details
listing_details_df.head()

,id,name,summary,property_type,bathrooms,bedrooms,beds
0,8521,SunsplashedSerenity near Harvard $1300/wk flex...,"An elegant, sun-splashed, 2 bedroom (+2offices...",Apartment,1.0,2,2.0
1,11169,Lovely Studio Room: Thu-Mons Near Universities!,Large sunny room which comfortably fits a coup...,House,1.0,1,1.0
2,11945,Near Harvard: Safe & Lovely Room,Room next to kitchen and living room in wonder...,Condominium,1.0,1,1.0
3,19581,"Furnished suite, Windsor","Welcome to Area IV! We are located, convenient...",Bed and breakfast,1.0,1,1.0
4,22006,B & B near Harvard's Quad Houses,"Two comfortable guest rooms in quiet, tree-fil...",House,2.5,1,1.0

In [14]:
# Preview Url
Url_df.head()

,id,listing_url,picture_url
0,8521,https://www.airbnb.com/rooms/8521,https://a0.muscache.com/im/pictures/30536/072e...
1,11169,https://www.airbnb.com/rooms/11169,https://a0.muscache.com/im/pictures/75383179/7...
2,11945,https://www.airbnb.com/rooms/11945,https://a0.muscache.com/im/pictures/88bf993e-1...
3,19581,https://www.airbnb.com/rooms/19581,https://a0.muscache.com/im/pictures/188f1b4b-f...
4,22006,https://www.airbnb.com/rooms/22006,https://a0.muscache.com/im/pictures/10277743/5...

In [15]:
# Preview Host Info
hosts_df.head()

,id,host_id,host_url,host_name,host_since,host_location,host_response_rate
0,8521,306681,https://www.airbnb.com/users/show/306681,Janet,2010-12-01,"Cambridge, Massachusetts, United States",1.0
1,11169,40965,https://www.airbnb.com/users/show/40965,Mazzy,2009-09-24,"Cambridge, Massachusetts, United States",1.0
2,11945,40965,https://www.airbnb.com/users/show/40965,Mazzy,2009-09-24,"Cambridge, Massachusetts, United States",1.0
3,19581,74249,https://www.airbnb.com/users/show/74249,Marc And Patty,2010-01-27,"Cambridge, Massachusetts, United States",1.0
4,22006,84280,https://www.airbnb.com/users/show/84280,Blue,2010-02-22,"Cambridge, Massachusetts, United States",1.0

In [16]:
# Preview Host Info
hosts_df.head()

,id,host_id,host_url,host_name,host_since,host_location,host_response_rate
0,8521,306681,https://www.airbnb.com/users/show/306681,Janet,2010-12-01,"Cambridge, Massachusetts, United States",1.0
1,11169,40965,https://www.airbnb.com/users/show/40965,Mazzy,2009-09-24,"Cambridge, Massachusetts, United States",1.0
2,11945,40965,https://www.airbnb.com/users/show/40965,Mazzy,2009-09-24,"Cambridge, Massachusetts, United States",1.0
3,19581,74249,https://www.airbnb.com/users/show/74249,Marc And Patty,2010-01-27,"Cambridge, Massachusetts, United States",1.0
4,22006,84280,https://www.airbnb.com/users/show/84280,Blue,2010-02-22,"Cambridge, Massachusetts, United States",1.0

### Database Process

In [17]:
# Connect to local database
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Airbnb')

In [18]:
# Check for table
engine.table_names()

['listings_locations', 'listings_details', 'url', 'hosts', 'reviews']

In [19]:
# Use pandas to load csv converted DataFrame into database
listings_locations_df.to_sql(name='listings_locations', con=engine,if_exists='append', index=False)

In [20]:
listing_details_df.to_sql(name='listings_details', con=engine,if_exists='append', index=False)

In [21]:
Url_df.to_sql(name='url', con=engine,if_exists='append', index=False)

In [22]:
hosts_df.to_sql(name='hosts', con=engine,if_exists='append', index=False)

In [23]:
cambridge_reviews_df.to_sql(name='reviews', con=engine,if_exists='append', index=False)

### Queries

In [24]:
# Hosts
pd.read_sql_query('select * from hosts', con=engine)

,id,host_id,host_url,host_name,host_since,host_location,host_response_rate
0,8521,306681,https://www.airbnb.com/users/show/306681,Janet,2010-12-01,"Cambridge, Massachusetts, United States",1.00
1,11169,40965,https://www.airbnb.com/users/show/40965,Mazzy,2009-09-24,"Cambridge, Massachusetts, United States",1.00
2,11945,40965,https://www.airbnb.com/users/show/40965,Mazzy,2009-09-24,"Cambridge, Massachusetts, United States",1.00
3,19581,74249,https://www.airbnb.com/users/show/74249,Marc And Patty,2010-01-27,"Cambridge, Massachusetts, United States",1.00
4,22006,84280,https://www.airbnb.com/users/show/84280,Blue,2010-02-22,"Cambridge, Massachusetts, United States",1.00
...,...,...,...,...,...,...,...
1272,40064688,55480078,https://www.airbnb.com/users/show/55480078,Sami,2016-01-20,None,0.97
1273,40080356,4208980,https://www.airbnb.com/users/show/4208980,Deena,2012-11-21,"Cambridge, Massachusetts, United States",NaN
1274,40092525,93155711,https://www.airbnb.com/users/show/93155711,Haoshui,2016-09-02,"Trondelag, Norway",1.00
1275,40092989,93155711,https://www.airbnb.com/users/show/93155711,Haoshui,2016-09-02,"Trondelag, Norway",1.00
1276,40327298,311628721,https://www.airbnb.com/users/show/311628721,Michael,2019-11-23,"Brookline, Massachusetts, United States",NaN

In [25]:
# Listings Locations
pd.read_sql_query('select * from listings_locations', con=engine)

            id       city state zipcode  latitude  longitude
0         8521  Cambridge    MA   02138  42.38329  -71.13617
1        11169  Cambridge    MA   02140  42.39469  -71.13223
2        11945  Cambridge    MA   02140  42.39454  -71.13431
3        19581  Cambridge    MA   02139  42.36276  -71.09765
4        22006  Cambridge    MA   02140  42.38670  -71.12387
...        ...        ...   ...     ...       ...        ...
1272  40064688  Cambridge    MA   02142  42.36452  -71.07888
1273  40080356  Cambridge    MA   02139  42.36254  -71.11145
1274  40092525  Cambridge    MA   02141  42.37060  -71.08737
1275  40092989  Cambridge    MA   02141  42.37108  -71.08634
1276  40327298  Brookline    MA   02446  42.34875  -71.10711

[1277 rows x 6 columns]

In [26]:
# Listings Details
pd.read_sql_query('select * from listings_details', con=engine)

,id,name,summary,property_type,bathrooms,bedrooms,beds
0,8521,SunsplashedSerenity near Harvard $1300/wk flex...,"An elegant, sun-splashed, 2 bedroom (+2offices...",Apartment,1,2,2.0
1,11169,Lovely Studio Room: Thu-Mons Near Universities!,Large sunny room which comfortably fits a coup...,House,1,1,1.0
2,11945,Near Harvard: Safe & Lovely Room,Room next to kitchen and living room in wonder...,Condominium,1,1,1.0
3,19581,"Furnished suite, Windsor","Welcome to Area IV! We are located, convenient...",Bed and breakfast,1,1,1.0
4,22006,B & B near Harvard's Quad Houses,"Two comfortable guest rooms in quiet, tree-fil...",House,3,1,1.0
...,...,...,...,...,...,...,...
1272,40064688,Walking Distance to Downtown,This apartment is located perfectly. I really ...,Apartment,1,1,3.0
1273,40080356,Winter Holiday in Cambridge with Cutest Dog Ever!,I am looking for someone to dog sit in my 3 le...,Condominium,2,2,2.0
1274,40092525,Cheap room from Dec 20 to Jan 8 in Cambridge (...,This is my own room. Since I will travel durin...,Apartment,1,1,NaN
1275,40092989,Cambridge 公寓单间圣诞节期间低价出租,"圣诞节期间回国, 自己的公寓出租｡公寓设施齐全,交通便利,距离MIT 步行15分钟,适合短期...",Apartment,1,1,1.0
1276,40327298,Walk to BU/Fenway-Free Parking! Close to Downtown,Our spacious 2 bedroom apartment is set on a q...,Apartment,1,2,3.0

In [27]:
# Url
pd.read_sql_query('select * from url', con=engine)

,id,listing_url,picture_url
0,8521,https://www.airbnb.com/rooms/8521,https://a0.muscache.com/im/pictures/30536/072e...
1,11169,https://www.airbnb.com/rooms/11169,https://a0.muscache.com/im/pictures/75383179/7...
2,11945,https://www.airbnb.com/rooms/11945,https://a0.muscache.com/im/pictures/88bf993e-1...
3,19581,https://www.airbnb.com/rooms/19581,https://a0.muscache.com/im/pictures/188f1b4b-f...
4,22006,https://www.airbnb.com/rooms/22006,https://a0.muscache.com/im/pictures/10277743/5...
...,...,...,...
1272,40064688,https://www.airbnb.com/rooms/40064688,https://a0.muscache.com/im/pictures/cfdf079c-1...
1273,40080356,https://www.airbnb.com/rooms/40080356,https://a0.muscache.com/im/pictures/4e344929-8...
1274,40092525,https://www.airbnb.com/rooms/40092525,https://a0.muscache.com/im/pictures/525b2be9-f...
1275,40092989,https://www.airbnb.com/rooms/40092989,https://a0.muscache.com/im/pictures/786589a2-0...
1276,40327298,https://www.airbnb.com/rooms/40327298,https://a0.muscache.com/im/pictures/17b037d9-2...

In [28]:
# Host residing in New York
data = engine.execute("SELECT * FROM hosts WHERE host_location = 'New York, New York, United States';")
for record in data:
    print(record)

(461525, 2126399, 'https://www.airbnb.com/users/show/2126399', 'Crystal', datetime.date(2012, 4, 12), 'New York, New York, United States', None)
(1840256, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(1855969, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(2038283, 4521987, 'https://www.airbnb.com/users/show/4521987', 'Kris', datetime.date(2012, 12, 29), 'New York, New York, United States', 1.0)
(2176599, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(2879039, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(3684345, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(3740822, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(4338244, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(4437529, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(4437789, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(4489577, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(6397721, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(12944416, 22541573, 'https://www.airbnb.com/users/show/22541573', 'Ken', datetime.date(2014, 10, 14), 'New York, New York, United States', 1.0)
(14974786, 6627353, 'https://www.airbnb.com/users/show/6627353', 'Phil', datetime.date(2013, 5, 28), 'New York, New York, United States', 1.0)
(15022874, 6627353, 'https://www.airbnb.com/users/show/6627353', 'Phil', datetime.date(2013, 5, 28), 'New York, New York, United States', 1.0)
(16826930, 22541573, 'https://www.airbnb.com/users/show/22541573', 'Ken', datetime.date(2014, 10, 14), 'New York, New York, United States', 1.0)
(18791077, 22541573, 'https://www.airbnb.com/users/show/22541573', 'Ken', datetime.date(2014, 10, 14), 'New York, New York, United States', 1.0)
(22338629, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(22339138, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(22339678, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(22339933, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', datetime.date(2013, 10, 14), 'New York, New York, United States', 0.98)
(30386484, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(30389876, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(30389899, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(30389924, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(30390003, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(30390533, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(30397057, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(30397111, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(30489683, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(32324379, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(32783224, 3613138, 'https://www.airbnb.com/users/show/3613138', 'Eszter', datetime.date(2012, 9, 19), 'New York, New York, United States', None)
(33028188, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(33183552, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(33341290, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(33341404, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(33551653, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(33596731, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(33787948, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(34132996, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(35786321, 76519427, 'https://www.airbnb.com/users/show/76519427', 'Erin', datetime.date(2016, 6, 8), 'New York, New York, United States', 1.0)
(35821512, 76519427, 'https://www.airbnb.com/users/show/76519427', 'Erin', datetime.date(2016, 6, 8), 'New York, New York, United States', 1.0)
(36402816, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(37142306, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(37696869, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(37814939, 255433680, 'https://www.airbnb.com/users/show/255433680', 'Jiaming', datetime.date(2019, 4, 12), 'New York, New York, United States', 1.0)
(37975180, 174201783, 'https://www.airbnb.com/users/show/174201783', 'Alam', datetime.date(2018, 2, 19), 'New York, New York, United States', 1.0)
(38015454, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(38015563, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(38404696, 186970542, 'https://www.airbnb.com/users/show/186970542', 'Jasmine', datetime.date(2018, 4, 29), 'New York, New York, United States', 1.0)
(38617180, 145573505, 'https://www.airbnb.com/users/show/145573505', 'Jasmine', datetime.date(2017, 8, 11), 'New York, New York, United States', 1.0)
(38656707, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(38838410, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(38838468, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(38844088, 161514654, 'https://www.airbnb.com/users/show/161514654', 'Hafou', datetime.date(2017, 12, 5), 'New York, New York, United States', 1.0)
(38915459, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(38925934, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(39116466, 246017238, 'https://www.airbnb.com/users/show/246017238', 'Shuting', datetime.date(2019, 2, 28), 'New York, New York, United States', 1.0)
(39239952, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(39747422, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(39747612, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(39866038, 17936854, 'https://www.airbnb.com/users/show/17936854', 'Alexander', datetime.date(2014, 7, 10), 'New York, New York, United States', 1.0)
(39908171, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(39908320, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(39908347, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)
(39908417, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', datetime.date(2016, 12, 16), 'New York, New York, United States', 0.96)

In [29]:
# Property --> Bathrooms >= 4
data = engine.execute("SELECT id, name, property_type FROM listings_details WHERE bathrooms >= 4;")
for record in data:
    print(record)

(4242801, 'BIG QUEEN ROOM HARVARD MIT MGH BOSTON', 'House')
(19847550, '*New Construction Luxury Kendall Square Townhouse*', 'Townhouse')
(32573946, 'Harvard/Lesley/Tufts/MIT full 5-Br 3.5 bath house', 'House')
(34806032, 'NEW 4Bed House @ Harvard Sq--Parking+Private Yard!', 'House')
(35187780, 'Franklin Blue House', 'House')
(36197065, "Historic Richardson's Row In Harvard Square", 'Townhouse')

In [30]:
# Join --> listing locations and listings_details 
query = pd.read_sql_query("""
select listings_locations.id, listings_locations.city 
from listings_locations 
inner join listings_details
on listings_locations.id = listings_details.id;
""",
con=engine)

query.head()

      id       city
0   8521  Cambridge
1  11169  Cambridge
2  11945  Cambridge
3  19581  Cambridge
4  22006  Cambridge